rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Public access — meta/config needs to be readable by all authenticated users
    match /meta/{document} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // All other documents require authentication
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
